<section>
	<h3><%= kitten.name %></h3>

	<ul>
		<li>Age: <%= kitten.age %></li>
		<li>Cuteness: <%= kitten.cuteness %></li>
		<li>Softness: <%= kitten.softness %></li>
		<li><%= link_to "View Profile", kitten %></li>
	</ul>
<section>